.bg1{
    background-color: #7C4EE4 !important;
}

/* .backgroundimg{
    background-image: url("./img/Image\ Placeholder.png") !important;
} */

.card{
    transition: transform 0.5s ease-in-out;
}

.card:hover{
    transform: scale(1.2);
}




   
    
@media (min-width:992px){
   .relative{
    position: relative;
   }

   .isolate{
    position: absolute;
    top: -300px;
    right: 20px;
    border-radius: 20px;
   }
}

footer{
    border-bottom: 1px solid #7C4EE4 !important;
}






